<br />
<div class="box col-1- offset-1">
  <h1 class="text-center"><%= @book.title %></h1>
  <h3 class="text-center"><%= @book.author %></h3>
  <br />
  <h4 class="text-center"><%= @book.rating %> out of 5 stars!</h4>
  <p class="text-center"><%= @book.description %></p>
</div>